:root {
  --color-dark: #0F1423;
  --color-deep: #5e5c5d;
  --color-middle: #8f8c8e;
  --color-shallow: #c3c1c2;
  --color-light: #fff;

  --color-red: #7c1414;

  --duration : 0.4s;

  --scale: 1.05;

  --thin-border: 1px;
  --normal-border: 2px;
  --bold-border: 4px;

  --thin-shadow: 2px;
  --normal-shadow: 4px;
  --bold-shadow: 6px;
}

/* #region 背景 */
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-red {
  background-color: var(--color-red);
}

.border-dark {
  border: var(--normal-border) solid var(--color-dark);
}
.border-dark-bold {
  border: var(--bold-border) solid var(--color-dark);
}

.bt-middle-dash {
  border-top: var(--normal-border) dashed var(--color-middle);
}
.bb-dark {
  border-bottom: var(--normal-border) solid var(--color-dark);
}
.bb-dark-bold {
  border-bottom: var(--bold-border) solid var(--color-dark);
}
.br-shallow {
  border-right: var(--normal-border) solid var(--color-shallow);
}
.br-shallow-bold {
  border-right: var(--bold-border) solid var(--color-shallow);
}
.br-dark {
  border-right: var(--normal-border) solid var(--color-dark);
}
.br-dark-bold {
  border-right: var(--bold-border) solid var(--color-dark);
}

.shadow-dark {
  box-shadow: var(--normal-shadow) var(--normal-shadow) var(--color-dark);
}

.crossBackgrounColorContainer > div:nth-child(even) {
  box-shadow: var(--bold-shadow) var(--bold-shadow) var(--color-dark);
}
.crossBackgrounColorContainer > div:nth-child(odd) {
  box-shadow: var(--bold-shadow) var(--bold-shadow) var(--color-middle);
}
/* #endregion */

/* #region 文本 */
.text-conslas {
  font-family: 'Consolas';
}

.text-deep {
  color: var(--color-deep);
}
.text-middle {
  color: var(--color-middle);
}
.text-shallow {
  color: var(--color-shallow);
}
.text-light {
  color: var(--color-light);
}
.text-red {
  color: var(--color-red);
}
/* #endregion */

/* #region 动画 */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in, .side-in, .animation {
  transition: all var(--duration) ease;
}
.no-animation {
  transition: none !important;
}
.hover-scale:hover {
  transform: scale(var(--scale));
}
.hover-move:hover {
  transform: scale(var(--scale)) translateY(-4px);
}

.side-in {
  opacity: 0;
  transform: translateX(-20px);
}
.side-in.show {
  opacity: 1;
  transform: translateX(0);
}

.hoverableItem:hover {
  transform: translateY(-10px);
}
.hoverableItem:hover .hoverRedText {
  color: var(--color-red);
}
.hoverableItem:hover .hoverdeepText {
  color: var(--color-deep);
}
.hoverableItem:hover .hoverScale {
  transform: scale(var(--scale));
}
/* #endregion */

.tag {
  display: block;
  padding: 0 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
}
.darkTag {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.lightTag {
  border: var(--normal-border) solid var(--color-dark);
}