.genDescriptionItem {
    display: flex;
    flex-direction: column;
    border: var(--normal-border) solid var(--color-dark);
    padding: 2rem 1rem;
    box-sizing: border-box;
    line-height: 1.5rem;
}
.genTechItemTitle {
    font-size: 1.75rem;
    height: 4rem;
    line-height: 4rem;
    font-weight: 700;
}
.genTechItemIconContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 3rem;
    line-height: 3rem;
    color: var(--color-shallow);
}