
.desktopNavHLine {
  width: 12rem;
  border-bottom: var(--normal-border) solid var(--color-dark);
}
/* #region 桌面端导航链接 */
.desktopNavLink {
  display: flex;
  height: 4rem;
  line-height: 4rem;
  border-bottom: var(--normal-border) solid var(--color-dark);
  position: relative;
  background-color: transparent;
}
.desktopNavIndex {
  width: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-middle);
  font-family: 'Consolas';
}
.desktopNavIcon {
  width: 4rem;
  text-align: center;
  font-weight: 700;
}
.desktopNavTitle {
  flex: auto;
  font-weight: 700;
}
.desktopNavLink:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}
.desktopNavLink:hover .desktopNavIndex {
  color: var(--color-shallow);
}
.desktopNavLink:hover .desktopNavAnimation {
  transform: translateX(16px);
}
.desktopNavLink.activeDesktopNavLink {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.desktopNavLink.activeDesktopNavLink .desktopNavIndex {
  color: var(--color-middle);
}
.desktopNavLink.activeDesktopNavLink::after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-red);
}
.desktopNavLink.activeDesktopNavLink:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.desktopNavLink.activeDesktopNavLink:hover .desktopNavIndex {
  color: var(--color-shallow);
}
/* #endregion */
/* #region 移动端导航链接 */
.mobileNavLink {
  margin-left: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: 700;
}
/* #endregion */
/* #region 联系方式 */
.desktopNavContack {
  display: flex;
  width: 4rem;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border: var(--normal-border) solid var(--color-dark);
  box-shadow: var(--normal-shadow) var(--normal-shadow) var(--color-dark);
}
.mobileNavLink span {
  margin-right: 0.5rem;
}
/* #endregion */
/* #region 内容盒子 */
@media (max-width: 768px) {
  .mobile-container {
    padding-top: 4rem;
    padding-left: 0;
  }
}
@media (min-width: 769px) {
  .mobile-container {
    padding-top: 0;
    padding-left: 16rem;
  }
}
/* #endregion */