/* 基础标签 */
:root {
    font-size: 16px;
    cursor: default;
}

html, body, div, section, li, pre {
    margin: 0;
    padding: 0;
}

body {
    min-width: 960px;
    line-height: 1.5rem;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #111;
}

section {
    display: flex;
    justify-items: center;
    width: 940px;
    margin: 0 auto;
}

p {
    margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0px 0px;
    padding: 0.5rem 0;
}
h1 {
    font-size: 3rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}
h3 {
    font-size: 2rem;
    line-height: 2.5rem;
}
h4 {
    line-height: 2rem;
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: #11659a;
}
a:hover {
    color: #c21f30;
}

ol, ul {
    margin: 0.5rem 0;
    padding-left: 2rem;
}
li {
    line-height: 2rem;
}

/* 表格 */
table, tbody, tr, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 580px;
    margin-top: 0.5rem;
}
table tbody tr {
    border-bottom: 1px dashed #888;
}
table tbody tr:first-child {
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
table tbody tr:last-child {
    border-bottom: 1px solid #555;
}
table tbody tr td {
    padding: 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}
table tbody tr th:nth-child(1), table tbody tr td:nth-child(1) {
    width: 232px;
    border-right: 1px solid #888;
}
table tbody tr th:nth-child(2), table tbody tr td:nth-child(2) {
    width: 348px;
}

/* 左导航 */
nav#Navigation {
    width: 200px;
}

nav#Navigation iframe {
    box-sizing: border-box;
    width: 200px;
    height: 800px;
    border: none;
}

/* 主要内容 */
article#Artical {
    width: 620px;
    padding: 0 20px 50PX 20px;
    box-sizing: border-box;
}

/* 右导航 */
nav#PageNav {
    width: 120px;
}
nav#PageNav p {
    margin: 0;
    padding: 1rem 0 0.5rem 0.5rem;
    font-size: 1.5rem;
    background-color: #fff;
}
nav#PageNav ul {
    padding: 0 0 1rem 1rem;
    margin: 0;
    background-color: #fff;
}
nav#PageNav ul li {
    list-style: none;
    margin: 0;
    padding-top: 0.5rem;
    line-height: 1.5rem;
}
nav#PageNav ul li a {
    text-decoration: none;
}

/* 文本格式 */
/* strong, ins, del, em */
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
.textLeft {
    text-indent: 0;
}
.textIndent2 {
    text-indent: 2rem;
}

/* 链接 */
b {
    font-weight: 400;
}
.link {
    color: #11659a;
}

/* 代码 */
i {
    font-style: normal;
}
i, pre {
    font-family: Consolas;
    background-color: #d6e3ec;
}

/* 字体颜色 */
.blue {
    color: #126bae;
}

s, u {
    text-decoration: none;
}