:root {
  --color-dark: #0F1423;
  --color-deep: #5e5c5d;
  --color-middle: #8f8c8e;
  --color-shallow: #c3c1c2;
  --color-light: #fff;

  --color-red: #7c1414;

  --duration : 0.3s;

  --scale: 1.05;
}

/* #region 背景 */
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}

.bg-image {
  background-attachment: fixed;
  background-position: center;
}
.bg-image1 {
  background-image: url('../Image/bg1.jpg');
}

.br-dark {
  border: 2px solid var(--color-dark);
}

.bb-dark {
  border-bottom: 2px solid var(--color-dark);
}
.bb-dark-blod {
  border-bottom: 4px solid var(--color-dark);
}
.br-shallow {
  border-right: 2px solid var(--color-shallow);
}
.br-dark-blod {
  border-right: 4px solid var(--color-dark);
}

.shadow {
  box-shadow: 4px 4px var(--color-dark);
}
/* #endregion */

/* #region 文本 */
.text-deep {
  color: var(--color-deep);
}
.text-middle {
  color: var(--color-middle);
}
.text-light {
  color: var(--color-light);
}
.text-red {
  color: var(--color-red);
}
/* #endregion */

/* #region 动画 */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.hover-scale {
  transition: all var(--duration) ease;
}
.hover-scale:hover {
  transform: scale(var(--scale)) translateY(-4px);
}
/* #endregion */

/* #region gen */
.genTag {
  padding: 0 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
}
.genDarkTag {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.genLightTag {
  border: 2px solid var(--color-dark);
}

.genTagContainer span {
  padding: 0 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: var(--color-red);
  font-weight: 700;
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-light);
  margin-right: 1rem;
  border-radius: 0.75rem;
}
.genDescriptionContainer > div {
  border: 2px solid var(--color-dark);
  box-shadow: 6px 6px var(--color-dark);
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem;
  box-sizing: border-box;
  transition: all var(--duration) ease;
}
.genDescriptionContainer > div:hover {
  transform: translateY(-10px);
}
.genDescriptionContainer > div > p:first-child {
  font-size: 1.75rem;
  height: 4rem;
  line-height: 4rem;
  font-weight: 700;
}
.genDescriptionContainer > div:hover > p:first-child {
  color: var(--color-red);
}
.genDescriptionContainer > div > p:last-child {
  line-height: 1.5rem;
}
/* #endregion