/* #region 外边距 */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-0d25 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-0d5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-0d75 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-1d25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-1d5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-1d75 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-2d5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my-3d5 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-4d5 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}
.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-10 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.mt-0 {
  margin-top: 0;
}
.mt-0d25 {
  margin-top: 0.25rem;
}
.mt-0d5 {
  margin-top: 0.5rem;
}
.mt-0d75 {
  margin-top: 0.75rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-1d25 {
  margin-top: 1.25rem;
}
.mt-1d5 {
  margin-top: 1.5rem;
}
.mt-1d75 {
  margin-top: 1.75rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-2d5 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-3d5 {
  margin-top: 3.5rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-4d5 {
  margin-top: 4.5rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mt-10 {
  margin-top: 10rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-0d25 {
  margin-bottom: 0.25rem;
}
.mb-0d5 {
  margin-bottom: 0.5rem;
}
.mb-0d75 {
  margin-bottom: 0.75rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-1d25 {
  margin-bottom: 1.25rem;
}
.mb-1d5 {
  margin-bottom: 1.5rem;
}
.mb-1d75 {
  margin-bottom: 1.75rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-2d5 {
  margin-bottom: 2.5rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-3d5 {
  margin-bottom: 3.5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-4d5 {
  margin-bottom: 4.5rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-10 {
  margin-bottom: 10rem;
}

.ml-0 {
  margin-left: 0;
}
.ml-0d25 {
  margin-left: 0.25rem;
}
.ml-0d5 {
  margin-left: 0.5rem;
}
.ml-0d75 {
  margin-left: 0.75rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-1d25 {
  margin-left: 1.25rem;
}
.ml-1d5 {
  margin-left: 1.5rem;
}
.ml-1d75 {
  margin-left: 1.75rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-2d5 {
  margin-left: 2.5rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-3d5 {
  margin-left: 3.5rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-4d5 {
  margin-left: 4.5rem;
}
.ml-5 {
  margin-left: 5rem;
}
.ml-10 {
  margin-left: 10rem;
}

.mr-0 {
  margin-right: 0;
}
.mr-0d25 {
  margin-right: 0.25rem;
}
.mr-0d5 {
  margin-right: 0.5rem;
}
.mr-0d75 {
  margin-right: 0.75rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-1d25 {
  margin-right: 1.25rem;
}
.mr-1d5 {
  margin-right: 1.5rem;
}
.mr-1d75 {
  margin-right: 1.75rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-2d5 {
  margin-right: 2.5rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-3d5 {
  margin-right: 3.5rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-4d5 {
  margin-right: 4.5rem;
}
.mr-5 {
  margin-right: 5rem;
}
.mr-10 {
  margin-right: 10rem;
}
/* #endregion */

/* #region 内边距 */
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-0d25 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-0d5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-0d75 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-1d25 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-1d5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-1d75 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-2d5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-3d5 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px-4d5 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}
.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.px-10 {
  padding-left: 10rem;
  padding-right: 10rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-0d25 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-0d5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-0d75 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-1d25 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.py-1d5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-1d75 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-2d5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-3d5 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-4d5 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.py-10 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.pt-0 {
  padding-top: 0;
}
.pt-0d25 {
  padding-top: 0.25rem;
}
.pt-0d5 {
  padding-top: 0.5rem;
}
.pt-0d75 {
  padding-top: 0.75rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-1d25 {
  padding-top: 1.25rem;
}
.pt-1d5 {
  padding-top: 1.5rem;
}
.pt-1d75 {
  padding-top: 1.75rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-2d5 {
  padding-top: 2.5rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-3d5 {
  padding-top: 3.5rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-4d5 {
  padding-top: 4.5rem;
}
.pt-5 {
  padding-top: 5rem;
}
.pt-10 {
  padding-top: 10rem;
}

.pb-0 {
  padding-bottom: 0;
}
.pb-0d25 {
  padding-bottom: 0.25rem;
}
.pb-0d5 {
  padding-bottom: 0.5rem;
}
.pb-0d75 {
  padding-bottom: 0.75rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-1d25 {
  padding-bottom: 1.25rem;
}
.pb-1d5 {
  padding-bottom: 1.5rem;
}
.pb-1d75 {
  padding-bottom: 1.75rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-2d5 {
  padding-bottom: 2.5rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-3d5 {
  padding-bottom: 3.5rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pb-4d5 {
  padding-bottom: 4.5rem;
}
.pb-5 {
  padding-bottom: 5rem;
}
.pb-10 {
  padding-bottom: 10rem;
}

.pl-0 {
  padding-left: 0;
}
.pl-0d25 {
  padding-left: 0.25rem;
}
.pl-0d5 {
  padding-left: 0.5rem;
}
.pl-0d75 {
  padding-left: 0.75rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-1d25 {
  padding-left: 1.25rem;
}
.pl-1d5 {
  padding-left: 1.5rem;
}
.pl-1d75 {
  padding-left: 1.75rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-2d5 {
  padding-left: 2.5rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-3d5 {
  padding-left: 3.5rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pl-4d5 {
  padding-left: 4.5rem;
}
.pl-5 {
  padding-left: 5rem;
}
.pl-10 {
  padding-left: 10rem;
}

.pr-0 {
  padding-right: 0;
}
.pr-0d25 {
  padding-right: 0.25rem;
}
.pr-0d5 {
  padding-right: 0.5rem;
}
.pr-0d75 {
  padding-right: 0.75rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-1d25 {
  padding-right: 1.25rem;
}
.pr-1d5 {
  padding-right: 1.5rem;
}
.pr-1d75 {
  padding-right: 1.75rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-2d5 {
  padding-right: 2.5rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-3d5 {
  padding-right: 3.5rem;
}
.pr-4 {
  padding-right: 4rem;
}
.pr-4d5 {
  padding-right: 4.5rem;
}
.pr-5 {
  padding-right: 5rem;
}
.pr-10 {
  padding-right: 10rem;
}
/* #endregion */

/* #region 宽高 */
.border-box {
  box-sizing: border-box;
}

.box-inline-block {
  display: inline-block;
}
.box-inline {
  display: inline;
}
.box-block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow:auto;
}

.w-full {
  width: 100%
}
.h-full {
  height: 100%;
}
.min-w-screen {
  min-width: 100vw;
}
.min-h-screen {
  min-height: 100vh;
}
.max-w-1280 {
  max-width: 1280px;
}

.w-1 {
  width: 1rem;
}
.w-2 {
  width: 2rem;
}
.w-3 {
  width: 3rem;
}
.w-4 {
  width: 4rem;
}
.w-8 {
  width: 8rem;
}
.w-16 {
  width: 16rem;
}

.h-1 {
  height: 1rem;
}
.h-2 {
  height: 2rem;
}
.h-3 {
  height: 3rem;
}
.h-4 {
  height: 4rem;
}
.h-8 {
  height: 8rem;
}
.h-16 {
  height: 16rem;
}
/* #endregion */

/* #region position布局 */
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.top-0 {
  top: 0;
}
.top-0d25 {
  top: 0.25rem;
}
.top-0d5 {
  top: 0.5rem;
}
.top-0d75 {
  top: 0.75rem;
}
.top-1 {
  top: 1rem;
}
.top-1d25 {
  top: 1.25rem;
}
.top-1d5 {
  top: 1.5rem;
}
.top-1d75 {
  top: 1.75rem;
}
.top-2 {
  top: 2rem;
}
.top-2d5 {
  top: 2.5rem;
}
.top-3 {
  top: 3rem;
}
.top-3d5 {
  top: 3.5rem;
}
.top-4 {
  top: 4rem;
}
.top-4d5 {
  top: 4.5rem;
}
.top-5 {
  top: 5rem;
}
.top-10 {
  top: 10rem;
}

.bottom-0 {
  bottom: 0;
}
.bottom-0d25 {
  bottom: 0.25rem;
}
.bottom-0d5 {
  bottom: 0.5rem;
}
.bottom-0d75 {
  bottom: 0.75rem;
}
.bottom-1 {
  bottom: 1rem;
}
.bottom-1d25 {
  bottom: 1.25rem;
}
.bottom-1d5 {
  bottom: 1.5rem;
}
.bottom-1d75 {
  bottom: 1.75rem;
}
.bottom-2 {
  bottom: 2rem;
}
.bottom-2d5 {
  bottom: 2.5rem;
}
.bottom-3 {
  bottom: 3rem;
}
.bottom-3d5 {
  bottom: 3.5rem;
}
.bottom-4 {
  bottom: 4rem;
}
.bottom-4d5 {
  bottom: 4.5rem;
}
.bottom-5 {
  bottom: 5rem;
}
.bottom-10 {
  bottom: 10rem;
}

.left-0 {
  left: 0;
}
.left-0d25 {
  left: 0.25rem;
}
.left-0d5 {
  left: 0.5rem;
}
.left-0d75 {
  left: 0.75rem;
}
.left-1 {
  left: 1rem;
}
.left-1d25 {
  left: 1.25rem;
}
.left-1d5 {
  left: 1.5rem;
}
.left-1d75 {
  left: 1.75rem;
}
.left-2 {
  left: 2rem;
}
.left-2d5 {
  left: 2.5rem;
}
.left-3 {
  left: 3rem;
}
.left-3d5 {
  left: 3.5rem;
}
.left-4 {
  left: 4rem;
}
.left-4d5 {
  left: 4.5rem;
}
.left-5 {
  left: 5rem;
}
.left-10 {
  left: 10rem;
}

.right-0 {
  right: 0;
}
.right-0d25 {
  right: 0.25rem;
}
.right-0d5 {
  right: 0.5rem;
}
.right-0d75 {
  right: 0.75rem;
}
.right-1 {
  right: 1rem;
}
.right-1d25 {
  right: 1.25rem;
}
.right-1d5 {
  right: 1.5rem;
}
.right-1d75 {
  right: 1.75rem;
}
.right-2 {
  right: 2rem;
}
.right-2d5 {
  right: 2.5rem;
}
.right-3 {
  right: 3rem;
}
.right-3d5 {
  right: 3.5rem;
}
.right-4 {
  right: 4rem;
}
.right-4d5 {
  right: 4.5rem;
}
.right-5 {
  right: 5rem;
}
.right-10 {
  right: 10rem;
}
/* #endregion */

/* #region 布局通用 */
.z-50 {
  z-index: 50;
}
.z-n1 {
  z-index: -1;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.gap-0 {
  gap: 0m;
}
.gap-0d25 {
  gap: 0.25rem;
}
.gap-0d5 {
  gap: 0.5rem;
}
.gap-0d75 {
  gap: 0.75rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-1d25 {
  gap: 1.25rem;
}
.gap-1d5 {
  gap: 1.5rem;
}
.gap-1d75 {
  gap: 1.75rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-2d5 {
  gap: 2.5rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-3d5 {
  gap: 3.5rem;
}
.gap-4 {
  gap: 4rem;
}
.gap-4d5 {
  gap: 4.5rem;
}
.gap-5 {
  gap: 5rem;
}
.gap-10 {
  gap: 10rem;
}
/* #endregion */

/* #region float布局 */
.fl {
  float: left;
}
.fr {
  float: right;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
/* #endregion */

/* #region flex布局 */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-warp {
  flex-wrap: wrap;
}
.flex-auto {
  flex: 1;
}
/* #endregion */

/* #region grid布局 */

.grid {
  display: grid;
}

@media (max-width: 768px) {
  .grid-cols-1 {
    grid-template-columns: repeat(1, minMax(0, 1fr));
  }
}

@media (min-width: 769px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minMax(0, 1fr));
  }

  .grid-cols-3 {
    grid-template-columns: repeat(3, minMax(0, 1fr));
  }
}
/* #endregion */

/* #region 显隐 */
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .desktop-only-f {
    display: none;
  }
  .desktop-only-g {
    display: none;
  }

  .mobile-only {
    display: block;
  }
  .mobile-only-f {
    display: flex;
  }
  .mobile-only-g {
    display: grid;
  }
}

@media (min-width: 769px) {
  .desktop-only {
    display: block;
  }
  .desktop-only-f {
    display: flex;
  }
  .desktop-only-g {
    display: grid;
  }

  .mobile-only {
    display: none;
  }
  .mobile-only-f {
    display: none;
  }
  .mobile-only-g {
    display: none;
  }
}
/* #endregion */

/* #region 背景 */

.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #000;
}
/* #endregion */

/* #region 文本 */
.text-weight {
  font-weight: 400;
}
.text-blod {
  font-weight: 700;
}

.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-middleline {
  text-decoration: line-through;
}

.indent-1 {
  text-indent: 1rem;
}
.indent-2 {
  text-indent: 2rem;
}
.indent-3 {
  text-indent: 3rem;
}

.text-0d25 {
  font-size: 0.25rem;
}
.text-0d5 {
  font-size: 0.5rem;
}
.text-0d75 {
  font-size: 0.75rem;
}
.text-1 {
  font-size: 1rem;
}
.text-1d25 {
  font-size: 1.25rem;
}
.text-1d5 {
  font-size: 1.5rem;
}
.text-1d75 {
  font-size: 1.75rem;
}
.text-2 {
  font-size: 2rem;
}
.text-2d5 {
  font-size: 2.5rem;
}
.text-3 {
  font-size: 3rem;
}
.text-3d5 {
  font-size: 3.5rem;
}
.text-4 {
  font-size: 4rem;
}
.text-4d5 {
  font-size: 4.5rem;
}
.text-5 {
  font-size: 5rem;
}
.text-10 {
  font-size: 10rem;
}
.text-1p25 {
  font-size: 1.25rem;
}

.line-0d25 {
  line-height: 0.25rem;
}
.line-0d5 {
  line-height: 0.5rem;
}
.line-0d75 {
  line-height: 0.75rem;
}
.line-1 {
  line-height: 1rem;
}
.line-1d25 {
  line-height: 1.25rem;
}
.line-1d5 {
  line-height: 1.5rem;
}
.line-1d75 {
  line-height: 1.75rem;
}
.line-2 {
  line-height: 2rem;
}
.line-2d5 {
  line-height: 2.5rem;
}
.line-3 {
  line-height: 3rem;
}
.line-3d5 {
  line-height: 3.5rem;
}
.line-4 {
  line-height: 4rem;
}
.line-4d5 {
  line-height: 4.5rem;
}
.line-5 {
  line-height: 5rem;
}
.line-10 {
  line-height: 10rem;
}
.line-1p25 {
  line-height: 1.25rem;
}
/* #endregion */

/* #region 圆角 */
.rounded-8 {
  border-radius: 8px;
}
.rounded-50p {
  border-radius: 50%;
}
.rounded-full {
  border-radius: 100%;
}
/* #endregion */