html {
  color: #000;
  overflow-y: scroll;
  font-family: "微软雅黑", Arial;
  font-size: 16px;
  line-height: 1rem;
}

body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,th,header,article,footer,section,nav,pre {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  font-weight: 400;
}

ul,ol {
  list-style: none;
  padding-inline-start: 0;;
}

li {
  list-style-type: none;
}

table,td,tr,th {
  font-size: 1rem;
}

img {
  vertical-align: middle;
  border: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button:hover, button:active, button:focus {
  background: transparent;
  border: none;
  outline: none;
}