:root {
  --color-dark: #0F1423;
  --color-deep: #5e5c5d;
  --color-middle: #8f8c8e;
  --color-shallow: #c3c1c2;
  --color-light: #faf7f9;

  --color-red: #7c1414;

  --duration : 0.3s;

  --scale: 1.05;
}

/* #region 背景 */
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}

.bg-image {
  background-attachment: fixed;
  background-position: center;
}
.bg-image1 {
  background-image: url('../Image/Bg1.jpg');
}

.bb-dark {
  border-bottom: 2px solid var(--color-dark)
}
.bb-dark-blod {
  border-bottom: 4px solid var(--color-dark)
}
.br-shallow {
  border-right: 2px solid var(--color-shallow)
}
.br-dark-blod {
  border-right: 4px solid var(--color-dark)
}

.ba-dark {
  border-bottom: 2px solid var(--color-dark);  
  border-top: 2px solid var(--color-dark);  
  border-left: 2px solid var(--color-dark);
  border-right: 2px solid var(--color-dark);
}

.shadow {
  box-shadow: 4px 4px var(--color-dark);
}
/* #endregion */

/* #region 文本 */
.text-red {
  color: var(--color-red);
}
.text-middle {
  color: var(--color-middle);
}
/* #endregion */

/* #region 动画 */
.hover-scale {
  transition: all var(--duration) ease;
}
.hover-scale:hover {
  transform: scale(var(--scale));
}
/* #endregion */

/* #region 导航 */
.desktopNavLink {
  background-color: transparent;
  transition: all var(--duration) ease;
}
.desktopNavLink p:first-child {
  color: var(--color-middle);
}
.desktopNavLink p:not(:first-child) {
  transition: all var(--duration) ease;
}
.desktopNavLink:hover {
  background-color: var(--color-red);
  color: var(--color-light);
}
.desktopNavLink:hover p:first-child {
  color: var(--color-shallow);
}
.desktopNavLink:hover p:not(:first-child) {
  transform: translateX(16px);
}

.desktopNavLink.activeDesktopNavLink {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.desktopNavLink.activeDesktopNavLink p:first-child {
  color: var(--color-middle);
}
.desktopNavLink.activeDesktopNavLink::after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-red);
}
.desktopNavLink.activeDesktopNavLink:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.desktopNavLink.activeDesktopNavLink:hover p:first-child {
  color: var(--color-shallow);
}

@media (max-width: 768px) {
  .mobile-container {
    padding-top: 4rem;
    padding-left: 0;
  }
}

@media (min-width: 769px) {
  .mobile-container {
    padding-top: 0;
    padding-left: 16rem;
  }
}
/* #endregion */
