:root {
  --color-dark: #0F1423;
  --color-deep: #5e5c5d;
  --color-middle: #8f8c8e;
  --color-shallow: #c3c1c2;
  --color-light: #fff;

  --color-red: #7c1414;

  --duration : 0.4s;

  --scale: 1.05;
}

/* #region 背景 */
.bg-dark {
  background-color: var(--color-dark);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-red {
  background-color: var(--color-red);
}

.bg-image {
  background-attachment: fixed;
  background-position: center;
}
.bg-image1 {
  background-image: url('../Image/bg1.jpg');
}

.border-dark {
  border: 2px solid var(--color-dark);
}
.border-dark-blod {
  border: 4px solid var(--color-dark);
}

.bt-middle-dash {
  border-top: 2px dashed var(--color-middle);
}
.bb-dark {
  border-bottom: 2px solid var(--color-dark);
}
.bb-dark-blod {
  border-bottom: 4px solid var(--color-dark);
}
.br-shallow {
  border-right: 2px solid var(--color-shallow);
}
.br-shallow-blod {
  border-right: 4px solid var(--color-shallow);
}
.br-dark {
  border-right: 2px solid var(--color-dark);
}
.br-dark-blod {
  border-right: 4px solid var(--color-dark);
}

.shadow {
  box-shadow: 4px 4px var(--color-dark);
}

.crossBackgrounColorContainer > div {
  border: 2px solid var(--color-dark);
}
.crossBackgrounColorContainer > div:nth-child(even) {
  box-shadow: 6px 6px var(--color-dark);
}
.crossBackgrounColorContainer > div:nth-child(odd) {
  box-shadow: 6px 6px var(--color-middle);
}
/* #endregion */

/* #region 文本 */
.text-conslas {
  font-family: 'Consolas';
}

.text-deep {
  color: var(--color-deep);
}
.text-middle {
  color: var(--color-middle);
}
.text-shallow {
  color: var(--color-shallow);
}
.text-light {
  color: var(--color-light);
}
.text-red {
  color: var(--color-red);
}
/* #endregion */

/* #region 动画 */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
}
.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.fade-in, .side-in, .animation {
  transition: all var(--duration) ease;
}
.no-animation {
  transition: none !important;
}
.hover-scale:hover {
  transform: scale(var(--scale));
}
.hover-move:hover {
  transform: scale(var(--scale)) translateY(-4px);
}

.side-in {
  opacity: 0;
  transform: translateX(-20px);
}
.side-in.show {
  opacity: 1;
  transform: translateX(0);
}
/* #endregion */

.tag {
  display: block;
  padding: 0 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
}
.darkTag {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.lightTag {
  border: 2px solid var(--color-dark);
}

.hoveravkeItem {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  box-sizing: border-box;
  line-height: 1.5rem;
}
.hoveravkeItem:hover {
  transform: translateY(-10px);
}
.hoveravkeItem:hover .hoverRedText {
  color: var(--color-red);
}
.hoveravkeItem:hover .hoverdeepText {
  color: var(--color-deep);
}
.hoveravkeItem:hover .hoverScale {
  transform: scale(var(--scale));
}

/* #region archive */
.archiveRoundTag {
  padding: 0 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-size: 0.75rem;
  color: var(--color-dark);
  margin-right: 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-dark);
}
.archiveTagContainer a {
  transition: all var(--duration) ease;
}
.archiveTagContainer a:hover {
  background-color: var(--color-shallow);
}
.archiveTagContainer a.activeArchiveTag {
  border: 1px solid var(--color-light);
  background-color: var(--color-red);
  color: var(--color-light);
}
.archiveTagContainer a.activeArchiveTag:hover {
  border: 1px solid var(--color-light);
  background-color: var(--color-red);
  color: var(--color-shallow);
}

.article-item:hover .article-title {
  color: var(--color-red);
  transform: translateX(10px);
}
.article-item:hover .article-circle {
  border: 2px solid var(--color-red);
}

.article-item-hidden {
  height: 0;
  overflow: hidden;
}
.article-item-hidden .side-in {  
  opacity: 0;
  transform: translateX(-20px);
  transition: none;
}

#articleCatalogueContiner {
  transform: translateX(0);
}
#articleCatalogueContiner.hide {
  transform: translateX(-100%);
}
#articleContentContiner {
  transform: translateX(100%);
}
#articleContentContiner.show {
  transform: translateX(-100%);
}
/* #endregion */