body {
  padding: 0 1rem;
  line-height: 2rem;
}

h1,h2,h3 {
    font-weight: 700;
}

h1 {
  font-size: 1.4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  line-height: 3rem;
  height: 3rem;
}

h3 {
  height: 2rem;
}

nav {
  height: 2rem;
}

ul,ol {
  padding-left: 2rem;
}

span.tag {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 1rem;
  margin-right: 0.6rem;
  border-radius: 0.8rem;
  line-height: 1.8rem;
  height: 1.8rem;
  color: #ffffff;
}

/* 标签 */

span.classTag {
  background-color: #0099cc;
}

span.structTag {
  background-color: #ff6666;
}

span.interfaceTag {
  background-color: #339933;
}

span.enumTag {
  background-color: #cc6699;
}

span.delegateTag {
  background-color: #ff9966;
}

span.staticTag {
  background-color: #336699;
}

span.inheritTag {
  background-color: #cc3333;
}

/* 代码 */

.code {
  background-color: #cccccc;
  font-family: Consolas;
  border-radius: 0.4rem;
}

span.inlineCode {
  display: inline-block;
  height: 2rem;
  padding: 0 0.4rem;
}

pre.blockCode {
  padding: 0 1rem;
}
