html,body,div,p,span,h1,h2,h3,h4,h5,h6,hgroup,ol,ul,li,dl,dt,dd,a,img,form,input,label,i,em,b,strong,s,del,u,ins,article,
table,caption,thead,tbody,tfoot,tr,th,td,footer,header,menu,nav,section,video,audio,iframe,nav,main,footer,cite,audio,video,blockquote,pre{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:  'Microsoft YaHei', Arial, Helvetica, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
ul,ol,li,dl,dt,dd{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
    font-weight: 400;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    display: block;
}
i,em{
    font-style: normal;
}
b,strong{
    font-weight: 400;
}
s,del,u,ins{
    text-decoration: none;
}

.full-column{
    width: 100%;
}
.center-column{
    width: 80%;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    *zoom: 1;
}