body {
  padding: 0 2rem;
  min-width: 1384px;
}

.flex-row {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

/* 左边栏目录 */

.sidebar {
  width: 300px;
}

.sidebar-content {
  position: fixed;
  top: 0px;
  max-height: 100%;
  overflow: hidden auto;
  padding: 60px 0 60px 8px;
  width: inherit;
}

.catalogue-item-h1 a, .catalogue-item-h2 a, .catalogue-item-h3 a {
  color: #336699;
}

.sidebar-item-h2, .catalogue-item-h2 {
  padding-left: 1rem;
}

.sidebar-item-h3, .catalogue-item-h3 {
  padding-left: 2rem;
}

.siderbar-item-active {
  font-weight: 700;
}

/* 正文内容 */

.content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
  height: auto;
  width: inherit;
  word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
  overflow-x: visible;
}

h1,h2,h3 {
    font-weight: 700;
}

h1 {
  margin: 1.5rem 0;
  font-size: 1.75rem;
  line-height: 2rem;
  height: 2rem;
  text-align: center;
}

h2 {
  margin: 1.25rem 0;
  border-bottom: 1px solid #eee;
  font-size: 1.5rem;
  line-height: 1.75rem;
  height: 1.75rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 1.5rem;
}

nav {
  height: 2rem;
}

nav.head-nav {
  border-bottom: 1px solid #222;
}

nav.foot-nav {
  border-top: 1px solid #222;
}

p, blockquote {
  margin: 0.8rem 0;
}

blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777;
}

/* 标签 */

span.tag {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 1rem;
  line-height: 1.6rem;
  margin: 0.2rem 0.6rem 0.2rem 0;
  border-radius: 0.8rem;
  color: #ffffff;
}

span.class-tag {
  background-color: #0099cc;
}

span.struct-tag {
  background-color: #ff6666;
}

span.interface-tag {
  background-color: #339933;
}

span.enum-tag {
  background-color: #cc6699;
}

span.delegate-tag {
  background-color: #ff9966;
}

span.static-tag {
  background-color: #336699;
}

span.sealed-tag {
  background-color: #cc3333;
}

span.overload-tag {
  padding: 0 0.6rem;
  line-height: 1.4rem;
  margin: 0.3rem 0.6rem 0.3rem 0;
  background-color: #aaa;
}

/* 代码 */

span.inline-code {
  display: inline-block;
  background-color: #eee;
  font-family: Consolas;
  border-radius: 0.4rem;
  padding: 0 0.2rem;
  line-height: 1.4rem;
  margin: 0.3rem 0.2rem;
}

div.block-code p {
  font-family: Consolas;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem 0.4rem 0 0;
  margin: 0.5rem 0 0 0;
  background-color: #dfe2e5;
}

div.block-code pre {
  background-color: #eee;
  font-family: Consolas;
  border-radius: 0 0 0.4rem 0.4rem;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  /*white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;*/
  overflow-x: auto;
}
